In [79]:
# Import our dependencies
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import pandas as pd
import matplotlib as plt
import tensorflow as tf

In [85]:
# Import our input dataset
data_df = pd.read_csv('us_data_df.csv')
# Fill in the empty rows with "0". (4.5.2)
data_df.fillna(0)
#data_df.dropna()
data_df.head()

,datefield,recession_indicator,country,spy_open,spy_high,spy_low,spy_close,spx_open,spx_high,spx_low,spx_close,dji_open,dji_high,dji_low,dji_close,cpi,gdp,inflation,unemployment
0,12/31/19,t,us,320.53,322.13,320.15,321.86,3215.18,3231.72,3212.03,3230.78,28414.64,28547.35,28376.49,28538.44,0.0,0.0,0.0,0.0
1,12/30/19,t,us,322.95,323.10,320.55,321.08,3240.09,3240.92,3216.57,3221.29,28654.76,28664.69,28428.98,28462.14,0.0,0.0,0.0,0.0
2,12/27/19,t,us,323.74,323.80,322.28,322.86,3247.23,3247.93,3234.37,3240.02,28675.34,28701.66,28608.98,28645.26,0.0,0.0,0.0,0.0
3,12/26/19,t,us,321.65,322.95,321.64,322.94,3227.20,3240.08,3227.20,3239.91,28539.46,28624.10,28535.15,28621.39,0.0,0.0,0.0,0.0
4,12/24/19,t,us,321.47,321.52,320.90,321.23,3225.45,3226.43,3220.51,3223.38,28572.57,28576.80,28503.21,28515.45,0.0,0.0,0.0,0.0

In [86]:
data_df.dtypes

datefield               object
recession_indicator     object
country                 object
spy_open               float64
spy_high               float64
spy_low                float64
spy_close              float64
spx_open               float64
spx_high               float64
spx_low                float64
spx_close              float64
dji_open               float64
dji_high               float64
dji_low                float64
dji_close              float64
cpi                    float64
gdp                    float64
inflation              float64
unemployment           float64
dtype: object

In [87]:
# Put the student names in a list.
#spx_open = data_df["spx_open"].tolist()
# strpe sapce: https://www.geeksforgeeks.org/python-pandas-series-str-strip-lstrip-and-rstrip/
#data_df['spx_high'] = data_df['spx_high'].str.rstrip()

In [88]:
# convert to float
#data_df['datefield'] = data_df['datefield'].astype(float)

In [89]:
# Define the features set.
X = data_df.copy()
X = X.drop({"recession_indicator","country","datefield"}, axis=1)

# Fill in the empty rows with "0". (4.5.2)
X.fillna(0)
X.head()

,spy_open,spy_high,spy_low,spy_close,spx_open,spx_high,spx_low,spx_close,dji_open,dji_high,dji_low,dji_close,cpi,gdp,inflation,unemployment
0,320.53,322.13,320.15,321.86,3215.18,3231.72,3212.03,3230.78,28414.64,28547.35,28376.49,28538.44,0.0,0.0,0.0,0.0
1,322.95,323.10,320.55,321.08,3240.09,3240.92,3216.57,3221.29,28654.76,28664.69,28428.98,28462.14,0.0,0.0,0.0,0.0
2,323.74,323.80,322.28,322.86,3247.23,3247.93,3234.37,3240.02,28675.34,28701.66,28608.98,28645.26,0.0,0.0,0.0,0.0
3,321.65,322.95,321.64,322.94,3227.20,3240.08,3227.20,3239.91,28539.46,28624.10,28535.15,28621.39,0.0,0.0,0.0,0.0
4,321.47,321.52,320.90,321.23,3225.45,3226.43,3220.51,3223.38,28572.57,28576.80,28503.21,28515.45,0.0,0.0,0.0,0.0

In [90]:
# Define the target set.
y = data_df["recession_indicator"].ravel()
y[:5]

array(['t', 't', 't', 't', 't'], dtype=object)

In [91]:
# Splitting into Train and Test sets. (17.8.2)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [92]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [93]:
# Create a random forest classifier. (17.8.3)
rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [94]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         2317          157
Actual 1          888         1204

In [95]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2317          157
Actual 1          888         1204

Accuracy Score : 0.7711344721857205
Classification Report
              precision    recall  f1-score   support

           f       0.72      0.94      0.82      2474
           t       0.88      0.58      0.70      2092

    accuracy                           0.77      4566
   macro avg       0.80      0.76      0.76      4566
weighted avg       0.80      0.77      0.76      4566

In [96]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_

# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.13156301614329016, 'dji_low'),
 (0.12626176271232933, 'dji_high'),
 (0.12032181240783534, 'dji_close'),
 (0.1183465544264336, 'dji_open'),
 (0.09271252277988079, 'spx_low'),
 (0.07998611906557211, 'spx_close'),
 (0.07717430124370407, 'spx_high'),
 (0.07642473124067437, 'spx_open'),
 (0.04521419947603081, 'spy_high'),
 (0.03751371442013806, 'spy_open'),
 (0.036155770610265786, 'spy_close'),
 (0.03591727842398066, 'spy_low'),
 (0.009810421763294743, 'cpi'),
 (0.007596953349236815, 'unemployment'),
 (0.0038314771994378267, 'gdp'),
 (0.0011693647378954609, 'inflation')]

In [2]:
# Import our input dataset
df = pd.read_csv('DE-CPI.csv')
df.head()

    DATE  DEUCPIALLMINMEI country
0  21916        22.963732      DE
1  21947        22.833256      DE
2  21976        22.833256      DE
3  22007        22.963732      DE
4  22037        23.028970      DE

In [6]:
df.dtypes

DATE                 int64
DEUCPIALLMINMEI    float64
country             object
dtype: object

In [3]:
# Import our input dataset
df2 = pd.read_csv('DE-GDP.csv')
df2.head()

         DATE  MKTGDPDEA646NWDB
0  1970-01-01      2.158384e+11
1  1971-01-01      2.499851e+11
2  1972-01-01      2.998015e+11
3  1973-01-01      3.983740e+11
4  1974-01-01      4.453035e+11

In [7]:
df2.dtypes

DATE                 object
MKTGDPDEA646NWDB    float64
dtype: object

In [19]:
# Import our input dataset
inflationDE_df = pd.read_csv('DE-Inflation.csv')
inflationDE_df.rename(columns = {'FPCPITOTLZGDEU': 'Inflation'}, inplace = True)
inflationDE_df.head()

    DATE  Inflation country
0  25569   3.450242      DE
1  25934   5.240974      DE
2  26299   5.484937      DE
3  26665   7.032026      DE
4  27030   6.986432      DE

In [20]:
# Import our input dataset
unemploymentDE_df = pd.read_csv('DE-Unemployment.csv')
unemploymentDE_df  = unemploymentDE_df .drop('country', axis=1)
unemploymentDE_df.rename(columns = {'LMUNRRTTDEM156S': 'Unemployment'}, inplace = True)
unemploymentDE_df.head()

    DATE  Unemployment
0  25569           0.5
1  25600           0.5
2  25628           0.6
3  25659           0.5
4  25689           0.6

In [21]:
combined1_df = pd.merge(unemploymentDE_df, inflationDE_df, how="left", on=["DATE","DATE"])
combined1_df.head()

    DATE  Unemployment  Inflation country
0  25569           0.5   3.450242      DE
1  25600           0.5        NaN     NaN
2  25628           0.6        NaN     NaN
3  25659           0.5        NaN     NaN
4  25689           0.6        NaN     NaN

In [17]:
df['ticker']=df['ticker'].replace(['UKX'], 'UK')
df['ticker']=df['ticker'].replace(['NIX'], 'JP')
df['ticker']=df['ticker'].replace(['UKX'], 'UK')
df['ticker'].value_counts()

NIX    12611
DJI    12460
SPX    10692
UK      8792
DAX     8187
SHA     6915
SPY     5051
Name: ticker, dtype: int64

In [3]:
# Import our input dataset
df2 = pd.read_csv('load_recession_indicator_by_day.csv')
df2.head()

    date recession_indicator country
0  28491                   t      cn
1  28492                   t      cn
2  28493                   t      cn
3  28494                   t      cn
4  28495                   t      cn

In [4]:
X = df2.copy()
X = X.drop("recession_indicator", axis=1)
X = pd.get_dummies(X, columns=["country"])
X.head()

,date,country_cn,country_de,country_eu,country_jp,country_uk,country_us
0,28491,1,0,0,0,0,0
1,28492,1,0,0,0,0,0
2,28493,1,0,0,0,0,0
3,28494,1,0,0,0,0,0
4,28495,1,0,0,0,0,0

In [5]:
y_cols = df2["recession_indicator"] 

y = pd.DataFrame()

y["recession_indicator"] = y_cols
y.head()

  recession_indicator
0                   t
1                   t
2                   t
3                   t
4                   t

In [6]:
y['recession_indicator'].value_counts()

f    60090
t    46346
Name: recession_indicator, dtype: int64

In [7]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y_cols, random_state=1)

In [8]:
from sklearn.linear_model import LogisticRegression

# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs", max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.567

In [9]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
from sklearn.ensemble import RandomForestClassifier

# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
rf_y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,rf_y_pred):.3f}")

 Random forest predictive accuracy: 0.999

In [14]:
from sklearn import tree

# Creating the decision tree classifier instance.
dt_model = tree.DecisionTreeClassifier()
# Fitting the model.
dt_model = dt_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data.
dt_y_pred = dt_model.predict(X_test_scaled)
print(f" Decision tree predictive accuracy: {accuracy_score(y_test,dt_y_pred):.3f}")

 decision tree predictive accuracy: 0.999